<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430549268703-qbspksnjd2i0lk1kak5tsc43g6lis8ru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430549268703-qbspksnjd2i0lk1kak5tsc43g6lis8ru</string>
	<key>API_KEY</key>
	<string>AIzaSyCCYHS0qhmLtoipMShnZEXnGlDKzJxtnp8</string>
	<key>GCM_SENDER_ID</key>
	<string>430549268703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivicapetrsoric.flutterApps</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-2ce55</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-2ce55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430549268703:ios:702293024b9f3ade01916a</string>
</dict>
</plist>